@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothamPro-Medium.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Reg.woff");
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
}
header {
  padding-top: 50px;
}
.container {
  margin: auto;
}
.header-description {
  font-family: "Gotham Pro Light", sans-serif;
  letter-spacing: 0.12px;
  font-size: 12px;
}
.text-color-red {
  color: #ff3469;
  font-family: "Gotham Pro Medium", sans-serif;
}
.header-phone {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
  display: block;
}
.header-info {
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  text-align: right;
  display: block;
}
.collback {
  color: #ff3469;
  text-align: right;
  display: block;
  margin-top: 16px;
}
.hero {
  padding-top: 100px;
  padding-bottom: 77px;
  text-align: center;
  padding-top: 100px;
  border-bottom: 1px solid #4c4c4c;
}
.hero-title {
  font-size: 34px;
  margin-bottom: 34px;
  text-transform: uppercase;
  line-height: normal;
  font-family: "Gotham Pro Medium", sans-serif;
}
.hero-description {
  font-size: 18px;
  font-family: "Gotham Pro Light", serif;
  text-transform: uppercase;
  letter-spacing: 0.18px;
  line-height: 1.4;
}
.flowers-slider {
  width: 100%;
  text-align: center;
  margin-bottom: 83px;
  margin-top: 87px;
}
:root {
  --swiper-navigation-size: 18px;
}
.hero-cta {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-family: "Gotham Pro Light", sans-serif;
}
.button {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ff2e55;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 65px;
  padding-right: 65px;
  margin-top: 36px;
  cursor: pointer;
  border: none;
}
.section-title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Gotham Pro", sans-serif;
  text-align: center;
}
.reviews {
  padding-top: 100px;
  padding-bottom: 50px;
}
.reviews-slider {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 83px;
  margin-top: 87px;
  /* border: 1px solid #dddddd; */
}
.review-slide {
  padding-left: 60px;
  padding-right: 60px;
  /* border: 1px solid #ffffff; */
}
.review-image {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: "Gotham Pro Light", sans-serif;
  position: relative;
  margin-right: 50px;
}
.review-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.review-image > * {
  position: relative;
}
.review-image-1 {
  background: #000 url(../images/reviews/bouquet_PNG33.png) no-repeat center;
}
.review-image-2 {
  background: #000 url(../images/reviews/bouquet_PNG37.png) no-repeat center;
}

.review-image-3 {
  background: #000 url(../images/reviews/bouquet_PNG41.png) no-repeat center;
}
.review-image-4 {
  background: #000 url(../images/reviews/bouquet_PNG63.png) no-repeat center;
}
.review-image-6 {
  background: #000 url(../images/reviews/bouquet_PNG64.png) no-repeat center;
}
.review-image-5 {
  background: #000 url(../images/reviews/review-2.png) no-repeat center;
}
.review-name {
  margin-bottom: 7px;
}
.review-name {
  margin-bottom: 7px;
}

.review-link {
  font-size: 18px;
  letter-spacing: 0px;
  color: #f24841;
  font-family: "Gotham Pro";
}
.review-text {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
}
.advantages {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #4c4c4c;
}
.adv-wrapper {
  min-height: 85px;
  margin-bottom: 30px;
}
.adv-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.4;
  max-width: 270px;
  margin: auto;
}
.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-description {
  font-size: 18px;
  text-align: center;
}
.card {
  width: 210px;
  text-align: center;
  border: 3px solid #ffffff;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}
.card-title {
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.card-label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}
.color-label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}
.color-label.white {
  background-color: #fff;
}
.color-label.biege {
  background-color: rgba(247, 180, 150, 1);
}
.color-label.pink {
  background-color: rgba(237, 54, 110, 1);
}
.color-label.red {
  background-color: rgba(255, 0, 0, 1);
}
.color-label.blue {
  background-color: rgba(18, 18, 157, 1);
}
.counter-input {
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #292929;
  margin-left: 15px;
  margin-right: 15px;
}
.counter-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #292929;
  border: none;
}
.card-button {
  font-size: 14px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
}
.more {
  font-size: 14px;
  color: #f24841;
  display: block;
  margin-top: 39px;
  text-align: center;
  padding: 10px;
}
.more:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 4px;
  background: url("../images/caret.svg") no-repeat center;
  margin-left: 14px;
  vertical-align: middle;
}
.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1a1a1a;
  text-align: center;
}
.offer-link {
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-size: 30px;
  margin-bottom: 65px;
}
.offer-label {
  display: block;
  margin-bottom: 22px;
  font-size: 14px;
}
.offer-phone {
  font-size: 36px;
  text-decoration: none;
  color: #fff;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-menu-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.footer-menu-item {
  margin-right: 30px;
  margin-bottom: 33px;
}
.social {
  font-size: 16px;
}
.footer-label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}
.footer-info {
  text-align: right;
}
.footer-phone {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 12px;
}
.footer-description {
  font-family: "Gotham Pro Light", sans-serif;
  letter-spacing: 0.12px;
  font-size: 12px;
}
.footer-white {
  padding-top: 48px;
  padding-bottom: 50px;
  background-color: #fff;
  color: #1e1e1e;
}
.author {
  font-size: 16px;
}
.author-link {
  margin-right: 5px;
  color: inherit;
}
